@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 340px) {
  .slide-in-from-right {
    animation: slide-from-left 250ms ease-in-out forwards;
  }
}

@media screen and (min-width: 340px) {
  .slide-in-from-left {
    animation: slide-from-right 250ms ease-in-out forwards;
  }
}

@keyframes slide-from-right {
  0% {
    transform: translateX(-10px)
  }
  100% {
    transform: translateX(0px)
  }
}

@keyframes slide-from-left {
  0% {
    transform: translateX(10px)
  }
  100% {
    transform: translateX(0px)
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #292A2D;
}

::-webkit-scrollbar-thumb {
  background-color: #888888A1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888888;
}

